@page
@model alamakota249031.Pages_alamakota.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.alamakota[0].string1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.alamakota[0].string2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.alamakota[0].stringSum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.alamakota) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.string1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.string2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stringSum)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
